
on:
  push:
    tags: '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout kernel source
      uses: actions/checkout@v2

    # - name: Checkout zipper
    #   uses: actions/checkout@v2
    #   with:
    #     repository: DaniAsh551/kernel_oneplus_sm8250
    #     path: zipper

    - name: Android kernel build
      uses: lemniskett/android-kernel-actions@master
      id: build
      with:
        arch: arm64
        compiler: clang/14/binutils
        defconfig: kebab-halium_defconfig
        image: Image

    - name: Release build
      uses: actions/upload-artifact@v3
      with:
        path: ${{ steps.build.outputs.outfile }}
        name: Image
        token: ${{ secrets.GITHUB_TOKEN }}
